[submodule "libraries/difftest"]
	path = libraries/difftest
	url = https://github.com/OpenXiangShan/difftest.git
[submodule "libraries/NEMU"]
	path = libraries/NEMU
	url = https://github.com/OpenXiangShan/NEMU.git
[submodule "libraries/DRAMsim3"]
	path = libraries/DRAMsim3
	url = https://github.com/OpenXiangShan/DRAMsim3.git
